.{
    .name = "@@NAME@@",
    .version = "0.1.0",
    .minimum_zig_version = "0.13.0",
    .dependencies = .{
        .@"carbon-plugin-sdk" = .{
            .path = "@@SDK_PATH@@",
        },
    },
    .paths = .{ "build.zig", "build.zig.zon", "src" },
}
